/.quarto/
.Rproj.user/
.Rhistory
*DS_Store

*_files
/*.html
/*.parquet

data/html*
data/Season*/
data/IMDb*.html
data/*.parquet

eda/*.html

exp/check_lines.R
helpers/test-app.R
helpers/write_rds.R
temp/

!docs/*/*
!app/*/*

docs2/
